In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Cafe_sales.csv')

In [8]:
df_fixed = data
# Import needed libraries for identifying outliers
import numpy as np

# Function to calculate and replace outliers using the 1.5 × IQR rule
def replace_outliers_with_nan(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[col] = df[col].where((df[col] >= lower_bound) & (df[col] <= upper_bound), np.nan)

# Fixing outliers in 'Total Spent'
replace_outliers_with_nan(df_fixed, 'Total Spent')

# Fill missing values with appropriate strategies
df_fixed['Transaction ID'] = df_fixed['Transaction ID'].fillna('Unknown')  # Although none missing based on summary
df_fixed['Item'] = df_fixed['Item'].fillna('Unknown')  # Fill missing Items with 'Unknown'
df_fixed['Quantity'] = df_fixed['Quantity'].fillna(df_fixed['Quantity'].mean())  # Fill missing Quantity with mean
df_fixed['Price Per Unit'] = df_fixed['Price Per Unit'].fillna(df_fixed['Price Per Unit'].mean())  # Fill missing Price
df_fixed['Total Spent'] = df_fixed['Total Spent'].fillna(df_fixed['Total Spent'].mean())  # Fill missing Total Spent
df_fixed['Payment Method'] = df_fixed['Payment Method'].fillna('Unknown')  # Fill missing Payment Methods with 'Unknown'
df_fixed['Location'] = df_fixed['Location'].fillna('Unknown')  # Fill missing Location with 'Unknown'
df_fixed['Transaction Date'] = df_fixed['Transaction Date'].fillna('Unknown')  # Although none missing based on summary

# Round money columns to 2 decimal places
df_fixed['Price Per Unit'] = df_fixed['Price Per Unit'].round(2)
df_fixed['Total Spent'] = df_fixed['Total Spent'].round(2)

df_fixed

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.00,4.00,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4.0,3.00,12.00,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4.0,1.00,8.47,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2.0,5.00,10.00,Unknown,Unknown,27-04-2023
4,TXN_3160411,Coffee,2.0,2.00,4.00,Digital Wallet,In-store,11-06-2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.00,4.00,Unknown,Unknown,30-08-2023
9996,TXN_9659401,Unknown,3.0,2.95,3.00,Digital Wallet,Unknown,02-06-2023
9997,TXN_5255387,Coffee,4.0,2.00,8.00,Digital Wallet,Unknown,02-03-2023
9998,TXN_7695629,Cookie,3.0,2.95,3.00,Digital Wallet,Unknown,02-12-2023
9999,TXN_6170729,Sandwich,3.0,4.00,12.00,Cash,In-store,07-11-2023